.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

#date-time {
  font-size: 0.9rem;
  color: #ffeb3b;
}

.timestamp {
  display: block;
  font-size: 0.75rem;
  color: #bbb;
  margin-top: 4px;
}
